{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <form action="addBook/create" enctype="multipart/form-data" method="post">
        <label>
            <p><input placeholder="Название книги" name="name"></p>
            <p><input placeholder="Описание книги" name="description"></p>
            <p><input placeholder="Автор" name="author">Если авторов несколько,то вы можете их добавить здесь(ссылка на форму)</p>
            <p><input placeholder="Год публикации" name="publication_year"></p>
            <p>Загрузка изображаения книги</p>
            <p><input type="file" name="photo" multiple accept="image/*,image/jpeg">
            <p><input type="submit" value="Отправить"></p>
        </label>
    </form>
{% endblock %}