{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <a href="{{ path('books') }}">Cписок книг</a>
    <br>
    {{ book.name }}
    <br>
    {{ book.description }}
    <br>
    <img src="{{ book.cover }}">
    <br>
{% endblock %}