{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <button class="btn btn-default" type="submit">Сохранить</button>
{% endblock %}