{% extends 'base.html.twig' %}
{% block title %} {% endblock %}
{% block body %}
    <a href="{{ path('books') }}">Cписок книг</a>
    {{ form_start(form) }}
    <button class="btn btn-default" type="submit">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}